.main-footer {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: auto;
    padding-bottom: 56px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 56px;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний вид*/
    color: rgb(33, 37, 41);
    border-top-color: rgb(244, 244, 244);
    border-top-style: solid;
    border-top-width: 1px;
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.container {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: auto;
    margin-left: 367.5px;
    margin-right: 367.5px;
    max-width: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 1170px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-top {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 250px;
    width: 1170px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-bot {
    /*Макет*/
    align-items: baseline;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: px;
    width: 1170px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    border-top-color: rgba(0, 0, 0, 0.02);
    border-top-style: solid;
    border-top-width: 1px;
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
    /*Другое*/
    column-gap: 16px;
    row-gap: 16px;
}

.main-footer-row {
    /*Макет*/
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 256.391px;
    justify-content: space-between;
    width: 1170px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
    /*Другое*/
    column-gap: 8.5%;
    row-gap: 24px;
}

.main-footer-col {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    height: 256.391px;
    width: 271.891px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-nav-col {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    height: 256.391px;
    width: 190.953px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-nav-head {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 24px;
    margin-bottom: 24px;
    width: 190.953px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-nav-body {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 96px;
    width: 190.53px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-logo-is-desktop {
    /*Макет*/
    box-sizing: border-box;
    display: flex;
    height: 40.3906px;
    margin-bottom: 24px;
    width: 271.891px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-logo-is-desktop1 {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 40.3906px;
    max-width: 180px;
    width: 180px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(25, 25, 25);
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    outline-color: rgb(25, 25, 25);
    outline-style: none;
    outline-width: 0px;

}

.main-footer-info {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 144px;
    margin-bottom: 24px;
    width: 271.891px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-info-item {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 16px;
    margin-bottom: 16px;
    width: 271.891px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-info-text {
    /*Макет*/
    box-sizing: border-box;
    display: inline;
    height: auto;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(50, 54, 55);
    outline-color: rgb(50, 54, 55);
    outline-style: none;
    outline-width: 0px;
}

a {
    /*Макет*/
    box-sizing: border-box;
    display: inline;
    height: auto;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-decoration-color: rgb(50, 54, 55);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /*Внешний Вид*/
    color: rgb(50, 54, 55);
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    outline-color: rgb(50, 54, 55);
    outline-style: none;
    outline-width: 0px;
    /*Анимация*/
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.main-footer-info-link {
    /*Макет*/
    box-sizing: border-box;
    display: inline;
    height: auto;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-decoration-color: rgb(82, 106, 248);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /*Внешний Вид*/
    color: rgb(82, 106, 248);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline-color: rgb(82, 106, 248);
    outline-style: none;
    outline-width: 0px;
    /*Анимация*/
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.main-footer-nav-title {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 24px;
    width: 106.656px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    ;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-nav-list {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 96px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 106.656px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;

    list-style-type: disc;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

.main-footer-nav-item {
    /*Макет*/
    box-sizing: border-box;
    display: list-item;
    height: 24px;
    margin-bottom: 12px;
    width: 106.656px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;

    list-style-type: none;
}

.main-footer-nav-link {
    /*Макет*/
    box-sizing: border-box;
    display: inline;
    height: auto;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-color: rgb(152, 158, 159);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
    /*Анимация*/
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;

    list-style-type: none;
}

.main-footer-copyright {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 16px;
    width: 219.516px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-bot-nav {
    /*Макет*/
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    width: 590.391px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(33, 37, 41);
    outline-color: rgb(33, 37, 41);
    outline-style: none;
    outline-width: 0px;

    column-gap: 12px;
    row-gap: 12px;
}

.main-footer-bot-nav-link {
    /*Макет*/
    box-sizing: border-box;
    display: inline;
    height: auto;
    width: auto;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Segoe UI", "Open Sans", "sans-serif", "Trebuchet MS", Tahoma, Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-decoration-color: rgb(152, 158, 159);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-copyright-item {
    /*Макет*/
    box-sizing: border-box;
    display: block;
    height: 16px;
    width: 175.969px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-bot-nav-item-is-desktop {
    /*Макет*/
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 30px;
    width: 200px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
}

.main-footer-bot-nav-item {
    /*Макет*/
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 30px;
    width: 300px;
    /*Текст*/
    text-size-adjust: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    /*Внешний Вид*/
    color: rgb(152, 158, 159);
    outline-color: rgb(152, 158, 159);
    outline-style: none;
    outline-width: 0px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
    align-items: center;
}

.footer-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer-info-item {
    flex: 1;
}

.footer-link {
    box-sizing: border-box;
    display: block;
    height: 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgb(152, 158, 159);
    outline: none;
    white-space: nowrap;
}